/* COLORI */

:root {
    --color-lightblue: #b5ddff;
    --color-blue: #0084fd;
    --color-purple: #9792e4;
}

/* REGOLE GENERALI */

.container {
    max-width: 71.25rem;
    margin: auto;
}

section {
    margin-bottom: 3.125rem;
}

section:last-child{
    margin-bottom: 0;
}

.col {
    width: 100%;
    padding: 1.25rem;
}

.list-nostyle {
    list-style: none;
}

.link-nostyle {
    text-decoration: none;
    color: inherit;
}

/* TIPOGRAFIA */

body {
    font-family: 'PT Sans', sans-serif;
}

/* BOTTONI */

button {
    padding: 0.45rem 0.7rem;
    border-radius: 1.125rem;
    border: none;
}

.btn-purple {
    background-color: var(--color-purple);
    color: #fff;
    font-weight: 700;
    padding: 0.625rem 3.125rem;
}

/* REGOLE FLEX */

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

