/* FOOTER */

footer {
    background-color: #333333;
    color: #fff;
}

footer .text-footer {
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 50px;
}

/* REGOLE RESPONSIVE */
    /*Tablet e Desktop */
    @media screen and (min-width:768px){
        .text-footer {
            width: 50%;
        }

        .row {
            justify-content: center;
        }
    }