/* HEADER */

header {
    background-color: var(--color-blue);
    color: #fff;
    padding: 1.25rem;
    position: sticky;
    top:0;
    z-index: 10;            
}

header .fa-solid {
    color: #fff;
    font-size: 2rem;
}

.nav-header {
    display: none;
}

header li {
    margin-right: 0.625rem;
}

header ul {
    align-items: center;
}

/* REGOLE RESPONSIVE

/*Desktop */
@media screen and (min-width:992px){
    .hamburger {
        display: none;
    }

    .nav-header {
        display: flex;
    }
} 