/* HEADER */

header {
    background-color: var(--color-blue);
    color: #fff;
    padding: 1.25rem;
}

.nav-header {
    display: none;
}

.fa-burger {
    background-color: var(--color-blue);
    color:#fff;
    font-size: 50px;
}

header li {
    margin-right: 0.625rem;
}

header ul {
    align-items: center;
}

/* REGOLE RESPONSIVE */

/*Desktop */
@media screen and (min-width:992px){
    .hamburger {
        display: none;
    }

    .nav-header {
        display: flex;
    }
}