/* MAIN */

/* SECTION DEMO APPLICATION */

.box {
    background-color: var(--color-lightblue);
    color: var(--color-blue);
    height: 6.25rem;
    margin: 1.25rem;
    
}

/* REGOLE RESPONSIVE */

/* Tablet e Desktop*/
@media screen and (min-width:768px) {
    .demo-application .box {
        width:calc(100% / 3 - 2.5rem);
    }

    .demo-application .box:first-child {
        width:calc((100% / 3 - 1.25rem) * 2);
    }
}

/* SECTION STRATEGIC */

.strategic .row {
    padding: 1.25rem;
}

.strategic .col {
    margin: 1.25rem 0;
    width: 100%;
}

/* REGOLE RESPONSIVE */

/*Desktop */
@media screen and (min-width:992px){
    .strategic .row{
        flex-wrap: nowrap;
    }

    .strategic .col {
        width: 50%;
    }

    .strategic .col:last-child {
        display: flex;
        align-items: flex-end;
    }
    }

    /* SECTION PARTNERS */

    .debug-box-img{
        width: 3.125rem;
        height: 3.125rem;
        background-color: brown;
    }

    .partners .flex {
        flex-direction: column;
        align-items: center;
    }

    /* REGOLE RESPONSIVE */
    /*Tablet e Desktop */
@media screen and (min-width:768px){
        .partners .col.box{
            flex-direction: row ;
        }
    }