/* MAIN */

/* SECTION DEMO APPLICATION */

.box {
    background-color: var(--color-lightblue);
    padding: 30px;
    border-radius: 1.5625rem;
    text-align: center;
}

.demo-application .row {
    margin: 0 -1.25rem;
}

.demo-text {
    text-align: center;
}

.nobp {
    padding-bottom: 0;
}

.box h2, .box p, .demo-text button {
    margin-bottom: 30px;
}

.box h2 {
    color:var(--color-blue);
}

.fa-solid {
    color:var(--color-blue);
    font-size: 5rem;
}

.demo-text button {
    background-color: var(--color-blue);
    color:#fff;
    width: 80%;
}

.phone {
    width:100%;
    display: block;
}




/* REGOLE RESPONSIVE */

/* Tablet */
@media screen and (min-width:768px) {
    .demo-application .col {
        width:calc(100% / 3);
    }

    .demo-application .col:first-child {
        width:calc((100% / 3) * 2);
    }

    .phone {
        width:50%;
    }

    .demo-text button {
        width: 40%;
    }

    .demo-text {
        text-align: left;
    }
    

}

/* Desktop */
@media screen and (min-width:992px) {
    
    .phone {
        width: 17rem;
    }

    .demo-phone {
        position: absolute;
        bottom: 0;
        right: 5rem;
    }

    .demo-text button {
        width: 50%;
    }

    .demo-text {
        width: 50%;
    }

    .box {
        display:flex ;
        flex-direction: column;
        align-items: center;
    }

    .nobp {
        position: relative;
        flex-direction: row;
        height: 100%;
    }
}


/* SECTION STRATEGIC */

.strategic {
    background-color: var(--color-purple);
}

.strategic .row {
    padding: 1.25rem;
}

.strategic .col {
    margin: 1.25rem 0;
    width: 100%;
}

/* REGOLE RESPONSIVE */

/*Desktop */
@media screen and (min-width:992px){
    .strategic .row{
        flex-wrap: nowrap;
    }

    .strategic .col {
        width: 50%;
    }

    .strategic .col:last-child {
        display: flex;
        align-items: flex-end;
    }
    }

    /* SECTION PARTNERS */

    .debug-box-img{
        width: 3.125rem;
        height: 3.125rem;
        background-color: brown;
    }

    .partners .flex {
        flex-direction: column;
        align-items: center;
    }

    /* REGOLE RESPONSIVE */
    /*Tablet e Desktop */
@media screen and (min-width:768px){
        .partners .col.box{
            flex-direction: row ;
        }
    }

    /* SECTION BENEFITS */

    .benefits {
        background-color: var(--color-purple);
        color: var(--color-purple);
    }

    .benefits .col {
        background-color: #fff;
    }

    .benefits h2 {
        color:#fff;
        text-align: center;
    }

    .benefits .col{
        height: 6.25rem;
    }

    /* REGOLE RESPONSIVE */
    
    /* Tablet */
    @media screen and (min-width: 768px) {
        .benefits .col {
            width:calc(100% / 2 - 40px);
        }
    }

    /* Desktop */
    @media screen and (min-width: 992px) {
        .benefits .col {
            width:calc(100% / 3 - 40px);
        }
    }

    /* SECTION ABOUT US */

    .about-us h2 {
        color: var(--color-purple);
        text-align: center;
    }

    .about-us .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* REGOLE RESPONSIVE */
    /*Tablet e Desktop */
    @media screen and (min-width:768px){
        .about-us .col {
            width: calc(100% / 2 - 40px);
        }

        .about-us .row {
            flex-wrap: nowrap;
        }
    }

    /* SECTION FREE */

    .free {
        background-color: var(--color-purple);
    }

    .free .row {
        justify-content: center;
    }

    .text-free {
        width: 50%;
        text-align: center;
    }