/* MAIN */

/* SECTION DEMO APPLICATION */

.box {
    background-color: var(--color-lightblue);
    color: var(--color-blue);    
}

/* REGOLE RESPONSIVE */

/* Tablet e Desktop*/
@media screen and (min-width:768px) {
    .demo-application .box {
        width:calc(100% / 3 - 2.5rem);
    }

    .demo-application .box:first-child {
        width:calc((100% / 3 - 1.25rem) * 2);
    }
}

/* SECTION STRATEGIC */

.strategic {
    background-color: var(--color-purple);
}

.strategic .row {
    padding: 1.25rem;
}

.strategic .col {
    margin: 1.25rem 0;
    width: 100%;
}

/* REGOLE RESPONSIVE */

/*Desktop */
@media screen and (min-width:992px){
    .strategic .row{
        flex-wrap: nowrap;
    }

    .strategic .col {
        width: 50%;
    }

    .strategic .col:last-child {
        display: flex;
        align-items: flex-end;
    }
    }

    /* SECTION PARTNERS */

    .debug-box-img{
        width: 3.125rem;
        height: 3.125rem;
        background-color: brown;
    }

    .partners .flex {
        flex-direction: column;
        align-items: center;
    }

    /* REGOLE RESPONSIVE */
    /*Tablet e Desktop */
@media screen and (min-width:768px){
        .partners .col.box{
            flex-direction: row ;
        }
    }

    /* SECTION BENEFITS */

    .benefits {
        background-color: var(--color-purple);
        color: var(--color-purple);
    }

    .benefits .col {
        background-color: #fff;
    }

    .benefits h2 {
        color:#fff;
        text-align: center;
    }

    /* REGOLE RESPONSIVE */
    
    /* Tablet */
    @media screen and (min-width: 768px) {
        .benefits .col {
            width:calc(100% / 2 - 40px);
        }
    }

    /* Desktop */
    @media screen and (min-width: 992px) {
        .benefits .col {
            width:calc(100% / 3 - 40px);
        }
    }